<h1>User Hobbies</h1>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
}
</style>
</head>
<body>
<table>
   <tr>
    <th>Hobby Type</th>
    <th>Since From</th>
  </tr>

  <% @hobbies.each do |hobby| %>
    <tr>
      <td><%= hobby.hobby_name %></td>
      <td><%= hobby.since_from %></td>
    </tr>
  <% end %>
</body>

</html>
<p></p>
<p></p>
<p></p>

<%= link_to "Back", "/" %>
&nbsp
&nbsp
<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
<%= paginate @hobbies %>